.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 70vh; */
}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper {
  overflow: visible !important;
}

.portfolio-slider {
  margin: 0px auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

/* Portfolio.css */
.portfolio-slider img {
  transition: box-shadow 0.3s ease-in-out;
  animation: glowing 2s infinite alternate;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: none;
  }
}
/* Portfolio.css */
.portfolio-slider .swiper-slide img {
  transition: transform 0.3s ease-in-out;
}

.portfolio-slider .swiper-slide:hover img {
  transform: scale(1.1);
}
/* Portfolio.css */
.portfolio-slider .swiper-slide img {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.portfolio-slider .swiper-slide img::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
